body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #f7fff7;
    color: #222;
    line-height: 1.6;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    opacity: 100%;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2e7d32;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}

nav a:hover {
    color: #2e7d32;
    transition: 0.2s;
}

.hero {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.hero-images {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-images img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 52%;
    left: 10%;
    transform: translateY(-70%);
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #256528;
}

.hero-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

.button {
    margin-top: 40px;
}

.btn {
    background: #fff;
    color: #2e7d32;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.2s;
}


.btn:hover {
    background: #d5dad5;
}

.about {
    background-color: #fff;
    text-align: justify;
    border-radius: 10px;
    padding: 48px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 3.5%;
    margin-right: 3%;
    margin-left: 3%;
}

.about h2 {
    text-align: center;
    color: #256528;
}

.analisis {
    text-align: center;
    padding: 40px 0;
}

.analisis h2 {
    font-size: 28px;
    color: #256528;
    margin-bottom: 20px;
}

.analisis-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 40px 20px;
}

.analisis-card {
    border-radius: 20px;
    width: 250px;
    height: 220px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.4s, box-shadow 0.4s ease;
    cursor: pointer;
}

.analisis-card:hover {
    transform: translateY(-10px);
}

.analisis-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease, filter 0.4s ease;
}

.analisis-card:hover img {
    transform: scale(1.1);
    filter: brightness(60%);
}

.analisis-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease;
    padding: 20px;
}

.analisis-card:hover .analisis-overlay {
    opacity: 1;
}

.analisis-overlay h3 {
    font-size: 20px;
    margin-bottom: 6px;
    color: #ffffff;
    font-weight: 700;
}

.analisis-overlay p {
    font-size: 16px;
    color: #eaeaea;
}

.analisis-btn {
    display: inline-block;
    width: auto;
    background: #fff;
    color: #2e7d32;
    padding: 6px 14px;
    border-radius: 20px;
    margin-top: 10px;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s;
    font-size: 12px;
    align-self: center;
}

.analisis-btn:hover {
    background: #b0b2b0;
    transform: scale(1.05);
}

.cards {
    padding: 60px 10%;
    text-align: center;
}

.cards h2 {
    color: #2e7d32;
    margin-bottom: 30px;
    font-size: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    padding: 55px;
    background-color: #fff;
}

.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    overflow: hidden;
    width: 24%;
    flex: 1 1 220px;
    max-width: 250px;
    transition: transform 0.4s ease, filter 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}



.card:hover {
    transform: scale(1.1);
}

.anggota {
    padding: 60px 10%;
    text-align: center;
}

.anggota h2 {
    color: #2e7d32;
    margin-bottom: 30px;
    font-size: 30px;
}

.anggota-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 55px;
   
    font-family: 'Times New Roman', Times, serif;
}

.anggota-card {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    overflow: hidden;
    width: 250px;
    transition: transform 0.5s ease, filter 0.4s ease;
    cursor: pointer;
}

.anggota-card img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 3px;
    object-fit: cover;
    border-radius: 50%;
}

.anggota-card:hover {
    transform: translateY(-12px);
}

.anggota-card h3 {
    font-size: 18px;
    margin: 6px;
}

.anggota-card p {
    font-size: 15px;
    margin: 8px;
    text-align: left;
    margin-left: 25%;
}

.anggota-card .kelas {
    text-align: center;
    width: 50%;
}

.contact {  
    background: #fff;  
    padding: 70px 20px;  
    text-align: center;  
}  
    
.contact h2 {  
    font-size: 28px;  
    color: #256528;  
    margin-bottom: 10px;  
}  
    
.contact p {  
    color: #666;  
    font-size: 15px;  
    margin-bottom: 40px;  
}  
    
.contact-container {  
    display: flex;  
    justify-content: center;  
    align-items: flex-start;  
    gap: 40px;  
    flex-wrap: wrap;  
    max-width: 900px;  
    margin: 0 auto;  
}  
    
.contact-form {  
    flex: 1;  
    min-width: 280px;  
    background: #fff;  
    padding: 25px;  
    border-radius: 16px;  
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);  
}  
    
.form-group {  
    margin-bottom: 15px;
    margin-right: 20px;
}

.contact-form input,  
.contact-form textarea {  
    width: 100%;  
    padding: 12px;  
    border-radius: 8px;  
    border: 1px solid #ccc;  
    font-size: 15px;  
    outline: none;  
}  
    
.contact-form input:focus,  
.contact-form textarea:focus {  
    border-color: #6b6b6b;  
}  
    
.send-btn {  
    background: #4caf50;  
    color: white;  
    border: none;  
    padding: 12px 20px;  
    border-radius: 8px;  
    font-size: 16px;  
    cursor: pointer;  
    transition: 0.3s;  
}  
    
.send-btn:hover {  
    background: #2e7d32;  
}  
    
.contact-info {  
    flex: 1;  
    min-width: 250px;  
    text-align: left;  
    background: #fff;  
    padding: 25px;  
    border-radius: 16px;  
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);  
}  
    
.contact-info h3 {  
    margin-bottom: 15px;  
    color: #256528;  
}  
    
.contact-info p {   
    line-height: 1.6;  
}  
    
.contact-info a {  
    color: #4caf50;  
    text-decoration: none;
}

footer {
    background-color: #256528;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer .sosmed {
    margin-top: 8px;
}

footer .sosmed a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
}

footer .sosmed a:hover {
    color: #a5bca7;
}

.footer-nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.footer-nav a:hover {
    color: #a5bca7;
    text-decoration: none;
}

.footer-bottom {
  border-top: 1.5px solid #303030;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 1rem;
  position: relative;
  z-index: 2;
}